{%load static %}
<!DoCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style> 
    h1{
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
        font-weight:800;
    } 
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
        background: linear-gradient(
        180deg,
        #E0F7FA 0%,   /* very light cyan for a clean feel */
        #B2EBF2 50%,  /* soft cyan-blue */
        #a8e6ee 100%  /* slightly deeper blue for depth */
    );

    }
</style>
<body>
    <center>
    <h1>🦷 DENTAL CARE 🦷</h1>
    <img src="{% static 'Dental care.png' %}">
    </center>
    <p> LOCATION: 32 Dental Care Clinic, Mount Poonamallee Road, Kattupakkam, Chennai - 600056 (Opposite Maruti Suzuki, Jayalakshmi Nagar)</p>
    <P> OPERATING HOURS: 10:00 AM - 9:00 PM (Mon-Sun) </P>
   <p>32 Dental Care is a prominent dental clinic located on Mount Poonamallee Road, Kattupakkam, Chennai, opposite Maruti Suzuki, Jayalakshmi Nagar. With over 11 years in healthcare, it has established a reputation for providing comprehensive dental services. The clinic is open daily from 10:00 AM to 9:00 PM</p>
    <ol>SERVICES OFFERED:
        <li>Dental Implants</li>
        <li>Root Canal Treatment (RCT)</li>
        <li>Crowns and Bridges</li>
        <li>Complete and Partial Dentures</li>
        <li>Tooth Extraction</li>
        <li>Smile Makeovers</li>
        <li>Teeth Whitening</li>
        <li>Pediatric Dentistry</li>
        <li>Orthodontic Treatments</li>
    </ol>
    <p>The clinic is equipped with modern dental technology to ensure high-quality care</p>
    <p>FEEDBACK: Patients have praised 32 Dental Care for:

Cleanliness and Hygiene(The clinic maintains high standards of cleanliness.)

Friendly and Supportive Staff( Patients feel comfortable and well-cared for.)

Expertise of Doctors(The dental professionals are skilled and provide detailed explanations of procedures)</p>

    
</body>
</html>