{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
        font-size:40px;
        font-weight: 300;
        font-family:'Indie Flower',cursive;
    }
    body{
        font-size: larger;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background: linear-gradient(
  135deg,
  #B5EAD7,  /* pastel mint */
  #FFB6C1,  /* soft pink */
  #FFE4E1,  /* blush peach */
  #AFCBFF   /* baby blue */);
    font-weight: bolder;
    }
</style>
<body>
    <center>  
 <h1> 🧸📒🎨✂️ EURO KIDS PRESCHOOL ✂️🎨📒🧸</h1>
 
  <img src="{% static 'school.png'%}"></center>
  <p>LOCATION:  2/9, Parvati Avenue, 3rd Street, Sakthi Nagar, Porur, Chennai, Tamil Nadu − 600116.</p>
  <p>ABOUT:  EuroKids is one of India’s leading preschool/play-school chains, founded in 2001. It is part of Lighthouse Learning Group, which oversees many early childhood education and K–12 institutions.Their educational philosophy centers on a “Child First” ideology. They focus on holistic development, combining academic readiness with social, emotional, and physical growth.</p>
  <p>CURRICULUM:  Age groups served include Playgroup (≈2 years), Nursery (≈3–4 years), EuroJunior (≈4–5 years), and EuroSenior (≈5-6 years).Curriculum used is called Mindful Curriculum (EUNOIA) / Visible Thinking Curriculum – Heureka, oriented around learning through play, inquiry, storytelling, art, music, movement, etc.The school emphasizes safety, hygiene, and a nurturing environment. Teachers give individual attention; there are activities to develop early literacy, numeracy, cognitive skills, emotional skills, physical development.</p>
  <p> FEEDBACK FROM PARENTS:  Many reviews praise the staff for being caring, dedicated, and professional.Parents mention that the facility is clean, well-organized, the environment is safe and welcoming.The curriculum is seen as engaging, balancing fun with learning.</p>
</body>
</html>